/.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.venv/
.env
.env.*
*.log

# Alembic cache
alembic/versions/__pycache__/

# Frontend
node_modules/
dist/
build/
*.tsbuildinfo

# env files
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production

# System
.DS_Store
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
